/*folha de estilo do site one page Dicas de Estudo
    @author Kainã Felipe

*/

/*CSS Reset*/
/*Importação*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,800&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;

}



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #000723;
}

/*Layout*/
.Container {
    margin: 0 auto;
}

.Flex{
    display: flex;
    justify-content: space-between;
    color: #fff;

}

.Flex2 {
    display: flex;
    align-items: center;
}
.Flex3{
    display: flex;
    flex-direction: column;
}

#logo img {
    position: static;
    padding-right: 10px;
    margin-top: 5px;
    float: left;
    height: 50px;
    width: 50px;
}

#logo a{
    position: static;
    float: left;
    margin-top: 20px;
    color: #00eade;
    font-weight: 800;
    font-size: 1em;
}





.TextoSobre {
    color: wheat;

}

#curso {
    margin-top: 20px;
    margin-left: 3px;
    height: 70px;
    width: 70px;
}

#pdf {
    height: 80px;
    width: 80px;
}

#apostila {
    margin-left: 8px;
    height: 70px;
    width: 70px;
}

.TopicoSobre a {
    text-decoration: none;
    color: #fff;
}

.TopicoSobre{
    padding-top: 10px;
}
.TopicoSobre img{
    padding-right: 10px;
    
}

.Botao {
    text-decoration: none;
    color: #ff0677;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #6ecbf5;
    padding: 10px 40px;
    border: 2px solid #ff0677;
    border-radius: 25px;
}

/*topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#check {
    display: none;
}

label {
    position: fixed;
    float: right;
    padding-left: 115px;
    font-size: 3em;
    color: rgba(3, 253, 241, 0.5);

}

nav ul {
    list-style: none;
    background-color: cyan;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 30%;
    transition: all 0.4s;
}

#check:checked~ul {
    right: 0;

}

nav ul li {
    padding: 20px;
    border-bottom: 3px solid #ff0677;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

header {
    background: url("img/fundo3.jpg");
    background-position: bottom;
    background-size: cover;
    height: 75vh;
    height: 60px;

}




main {
    height: 75vh;
    background: url(img/what.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



main a {
    color: #ff0677;
}

main h1 {
    font-size: 2.5em;
}

main h2 {
    font-size: 1 em;
    margin: 20px 0px 50px 0px;
}





#sobre {
    padding: 20px 0px;
    background: url(img/funto.jpg);
    background-size: cover;
    background-position: center;
}

#destaqueSobre {
    display: none;
}

#textoSobre {
    color: #fff;
    padding-bottom: 100px;
    padding-left: 30px;
    text-shadow: #000723, 0.5em, 0.5em, 0.5em;
    font-size: 1.2em;
}

#textoSobre h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#pc {
    position: static;
    float: left;
    margin-bottom: 100px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    
}

#onepage{
    padding: 50px 10px;
    border: #6ecbf5;
}
#onepage h2{
    margin-bottom: 10px;
}

#onepage p{
    margin-bottom: 25px;
}
#video video{
    width: 340px;
    height: 191px;
    border: #ff0677 5px solid;

}

#textoSite{
    color: #fff;
    text-shadow:  #000723,0.5em,0.5em,0.5em;

}
#textoSite h2{
    font-size: 1.5em;
}
#textoSite p{
    font-size: 1.2em;
}

#onepage{
    background-image: url(img/testepunk.jpg);
    background-size: cover;
    background-position: center;
}


@media(min-width: 576px) {
    .Container {
        max-width: 540px;
    }

    .Flex3{
        display: flex;
        flex-direction: column;

    }

    #textoSite{
        font-size: 1.2em;
    }
    
    #video video{
        width: 500px;
        height: 281px;

    }


    label {
        position: fixed;
        float: right;
        padding-left: 410px;
        font-size: 3em;
        color: rgba(0, 234, 222,0.5);
    
    }

    main h1,
    main h2 {
        text-shadow: #000723, 0.5em, 0.5em, 0.5em;
    }

    

}

@media(min-width : 768px) {
    .Container {
        max-width: 720px;
    }
    #video video{
        width: 340px;
        height: 191px;
    }
    main {
        height: 45vh;
    }

    main h1 {
        font-size: 5:5em;
    }

    main h2 {
        font-size: 2em;
    }
  
}

@media(min-width : 992px) {

    .Container {
        max-width: 960px;
    }

    main {
        height: 70vh;
    }
}

@media(min-width : 1200px) {

    .Container {
        max-width: 1140px;

    }

    .Flex {
        display: flex;
        float: right;
        justify-content: right;

    }

    .Flex3{
        flex-direction: row;
        align-items: center;
    }

    #destaqueSobre {
        display: inline;
    }

    
    #logo img {
        position: static;
        padding-right: 20px;
        float: left;
        height: 100px;
        width: 100px;
    }

    #logo a{
        position: static;
        float: left;
        margin-top: 40px;
        color: #00eade;
        font-weight: 800;
        font-size: 1.5em;
    }

   
    


    main {
        height: 75vh;

    }

    header {
        height: 120px;
    }




    label {
        display: none;
    }

    nav {
        margin-right: 20px;

    }

    nav ul {
        position: static;
        height: auto;
        width: 100%;
        background-color: transparent;
    }

    nav ul li {
        float: right;
        border-top: 2px solid #6ecbf5;
        border-left: 1px solid #6ecbf5;
        border-bottom: 2px solid #6ecbf5;
        border-right: 1px solid#6ecbf5;
        margin-top: 30px;
        margin-right: 20px;
        border-radius: 25px;

    }

    nav ul li a {
        color: #00eade;
    }

    nav ul li a:hover {
        color: #ff0677;
    }

    #sobre{
        background-attachment: fixed;
    }

    .TopicoSobre a:hover {
        color: #ff0677;
    }
    #video{
        padding-left: 10px;
    }
    

    #video video{
        width: 600px;
        height: 338px;
    }

    #textoSite p{
        font-size: 1em;
    }


}