/*folha de estilo do site one page Dicas de Estudo
    @author Kainã Felipe

*/

/*CSS Reset*/
/*Importação*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;

}



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #000723;
}

/*Layout*/
.Container {
    margin:0 auto;
}

.Flex {
    display: flex;
    justify-content: space-between;

}

.Botao{
    text-decoration: none;
    color: #ff0677;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #6ecbf5;
    padding: 10px 40px;
    border: 2px solid #ff0677;
    border-radius: 25px;
}

/*topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    padding-right: 15px;

}

nav ul {
    list-style: none;
    background-color: cyan;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 30%;
    transition: all 0.4s;
}

#check:checked~ul {
    right: 0;

}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid blue;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

header {
    height: 60px;

}

#logo img {
    width: 128px;
    height: 128px;
}

#sobre{
    margin-top: 40px;
}



main{
    height: 75vh;
    background: url(img/fundo4.jpg);
    background-size: cover;
    color:white;
        display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



main a{
    color: #ff0677;
}

main h1{
    font-size: 2.5em;
}

main h2{
    font-size: 1 em;
    margin: 20px 0px 50px 0px;
}




@media(min-width: 576px) {
    .Container {
        max-width: 540px;
    }

    main h1,main h2{
        text-shadow: #000723,0.5em,0.5em,0.5em;
    }
}

@media(min-width : 768px) {
    .Container {
        max-width: 720px;
    }

    main {
        height: 45vh;
    }

    main h1{
        font-size: 5:5em;
    }
    main h2{
        font-size: 2em;
    }


}

@media(min-width : 992px) {

    .Container {
        max-width: 960px;
    }
    main{
        height: 70vh;
    }
}

@media(min-width : 1200px) {

    .Container {
        max-width: 1140px;
        
    }
    main{
        height: 75vh;

    }

    header {
        height: 120px;
    }

    #logo img {
        height: 189px;
        width: 189px;
        margin-top: 30px;
    }

    label {
        display: none;
    }

    nav {
        margin-right: 20px;

    }

    nav ul {
        position: static;
        height: auto;
        width: 100%;
        background-color: transparent;

    }

    nav ul li {
        float: right;
        border-top: 2px solid #6ecbf5;
        border-left: 1px solid #6ecbf5;
        border-bottom: 2px solid #6ecbf5;
        border-right: 1px solid#6ecbf5;
        margin-top: 30px;
        margin-right: 20px;
        border-radius: 25px;

    }
    nav ul li a{
        color: #ea00d9;
    }

    nav ul li a:hover{
        color:#ff0677;
    }




}